.c-button,
.c-homeBtm__form .klaviyo-form button {
  @include button-unset;
  position: relative;
  @include flex($display: inline-flex, $justify: center, $align: center);
  width: auto;
  // width: 100%;
  // max-width: 270px;
  font-family: $font-body;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  transition-property: background-color, border, color, box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  overflow: hidden;
  user-select: none;
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &:hover {
    cursor: pointer;
  }
  &.c-button--lrg {
    font-size: 20px;
  }
  @include media-tablet-up {
    max-width: 270px;
  }
  @include media-mobile-down {
    &--fixWidthMd {
      float: left;
      max-width: 240px;
    }
  }
}

.kl-private-reset-css-Xuajs1 svg {
  height: 30px;
  width: 30px;
}

.c-button--isDefault,
.c-button--isHollow,
.c-homeBtm__form .klaviyo-form button {
  padding: 1rem 40px;
  text-transform: capitalize;
  border-radius: none;
  min-width: 224px;
  .c-form--isNarrow & {
    width: 100%;
    max-width: 400px;
    margin: 10px auto 0;
  }
}

.c-button--isUnderline {
  font-weight: 800;
  font-size: 16px;
}

.c-button--isSubmit {
  margin-top: 10px;
  position: relative;
}

.c-button--isDefault {
  &.c-button--isBlack {
    background-color: $color-black;
    border: 1px solid $color-black;
    // color: $color-white;
    color: $color-primary;
    &:hover {
      background-color: $color-white;
      border-color: $color-white;
      color: $color-black;
    }
  }
  &.c-button--isPrimary {
    background-color: $color-primary;
    border: 1px solid $color-primary;
    color: $color-black;
    &:hover {
      background-color: $color-black;
      border-color: $color-black;
      color: $color-primary;
    }
  }
  &.c-button--isSecondary {
    background-color: $color-secondary;
    border: 1px solid $color-secondary;
    color: $color-black;
    &:hover {
      background-color: $color-black;
      border-color: $color-black;
      color: $color-secondary;
    }
  }
}

.c-button--isHollow {
  &.c-button--isBlack {
    border: 1px solid $color-black;
    color: $color-black;
    &:hover {
      background-color: $color-black;
      color: $color-white;
    }
  }
  &.c-button--isPrimary {
    border: 1px solid $color-primary;
    color: $color-primary;
    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }
  &.c-button--isSecondary {
    border: 1px solid $color-secondary;
    color: $color-secondary;
    &:hover {
      background-color: $color-secondary;
      color: $color-white;
    }
  }
}

.c-button--isUnderline {
  &.c-button--isPrimary {
    border-bottom: 1px solid $color-primary;
    color: $color-primary;
    &:hover {
      border-color: lighten($color-primary, 20%);
      color: lighten($color-primary, 20%);
    }
  }
  &.c-button--isSecondary {
    border-bottom: 1px solid $color-secondary;
    color: $color-secondary;
    &:hover {
      border-color: lighten($color-secondary, 20%);
      color: lighten($color-secondary, 20%);
    }
  }
  &.c-button--isBlack {
    border-bottom: 1px solid $color-black;
    color: $color-black;
    &:hover {
      border-color: lighten($color-black, 20%);
      color: lighten($color-black, 20%);
    }
  }
}

.c-btn--disable {
  opacity: 0.5;
  pointer-events: none;
}
