.c-dropdown {
	display: flex;
	flex-direction: column;
	position: relative;
	width: clamp(100px, 10vw, 300px);
	cursor: pointer;

	&__wrap {
		position: absolute;
		width: 100%;
		top: 2rem;
		left: 0;
		pointer-events: none;

		div,
		a {
			display: block;
			font-size: 0.875rem;
			font-weight: 200;
			letter-spacing: 0.25px;
			background-color: $color-black;
			border: 1px solid $color-black;
			color: $color-white;
			padding: 0.65rem 1.25rem;
			opacity: 0;
			transition: opacity 150ms, background-color 250ms, color 250ms;
		}
	}

	&.is-open,
	&.hoverOpen:hover {
		cursor: pointer;

		div,
		a {
			opacity: 1;
			pointer-events: auto;

			&:hover {
				background-color: $color-white;
				color: $color-black;
			}
		}
	}

	&.c-dropdown--white {
		div,
		a {
			background-color: $color-white;
			color: $color-black;

			&:hover {
				background-color: $color-black;
				color: $color-white;
			}
		}
	}
}

.c-dropdownFull {
	position: fixed;
	width: 100%;
	top: 5.675rem;
	left: 0;
	box-shadow: 0px 2px 5px rgb(0 0 0 / 10%);
	opacity: 0;
	pointer-events: none;
	transition: all 165ms;

	&__wrap {
		width: 92vw;
		max-width: 1600px;
		padding: 2.275rem 0;
		margin: 0 auto;
	}

	&.is-open {
		cursor: pointer;
		opacity: 1;
		pointer-events: auto;
		background-color: #efede6;
	}

	&.is-shrink {
		.c-dropdownFull__wrap {
			hr,
			& > section:last-child {
				display: none;
			}

			& > section:first-child {
				margin-bottom: 0;
			}
		}
	}
}

@include media-mobile-down {
	.trigger-filters {
		background-color: $color-ecru;
		padding: 1.25rem 0.975rem;
		margin-bottom: 0 !important;

		.trigger-filters__copy {
			display: none;
		}
	}

	.inner-flexwrap.trigger-filters {
		padding: 1rem 0.975rem;
	}

	.c-dropdownFull {
		top: 9.85rem;

		&__wrap {
			padding: 0 0 2.5rem;
			margin: 0;

			section.inner-flexwrap.trigger-filters {
				min-height: 66px;
			}
		}
	}

	.is-shrink {
		.c-dropdownFull__wrap {
			padding: 0;
		}
	}
}
