.c-dropdown {
	display: flex;
	flex-direction: column;
	position: relative;
	width: clamp(100px, 10vw, 300px);
	cursor: pointer;

	.c-dropdown--wrap {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		pointer-events: none;

		margin-top: 2rem;

		div {
			background-color: $color-black;
			border: 1px solid $color-black;
			color: $color-white;
			padding: 0.5rem 1rem;
			opacity: 0;
			transition: opacity 150ms, background-color 250ms, color 250ms;
		}
	}

	&.is-open {
		cursor: pointer;

		div {
			opacity: 1;
			pointer-events: auto;

			&:hover {
				background-color: $color-white;
				color: $color-black;
			}
		}
	}

	&.c-dropdown--white {
		div {
			background-color: $color-white;
			color: $color-black;

			&:hover {
				background-color: $color-black;
				color: $color-white;
			}
		}
	}
}
