.c-dropdown {
	display: flex;
	flex-direction: column;
	position: relative;
	width: clamp(100px, 10vw, 300px);
	cursor: pointer;

	.c-dropdown--wrap {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		pointer-events: none;

		margin-top: 2rem;

		div,
		a {
			display: block;
			font-size: 0.875rem;
			font-weight: 200;
			letter-spacing: 0.25px;
			background-color: $color-black;
			border: 1px solid $color-black;
			color: $color-white;
			padding: 0.65rem 1.25rem;
			opacity: 0;
			transition: opacity 150ms, background-color 250ms, color 250ms;
		}
	}

	&.is-open,
	&:hover {
		cursor: pointer;

		div,
		a {
			opacity: 1;
			pointer-events: auto;

			&:hover {
				background-color: $color-white;
				color: $color-black;
			}
		}
	}

	&.c-dropdown--white {
		div,
		a {
			background-color: $color-white;
			color: $color-black;

			&:hover {
				background-color: $color-black;
				color: $color-white;
			}
		}
	}
}
