.c-form {
  margin: 0 auto;
}

.c-form--isNarrow {
  text-align: center;
}

.c-form__text {
  margin: -20px 0 24px !important;
}

.c-form__content {
  .c-form--isNarrow & {
    max-width: 450px;
    margin: 0 auto;
  }
}

.c-form__alert {
  width: 100%;
  padding: 15px 10px;
  border-radius: 3px;
  color: $color-white;
  margin-bottom: 20px;
  &.c-form__alert--isError {
    background: $color-error;
  }
  &.c-form__alert--isSuccess {
    background: $color-success;
  }
}

.c-form__submit {
  margin-top: 30px;
}

.c-form__sub {
  margin-top: 20px;
}

.c-form__subText {
  line-height: 1.75 !important;
}

.c-form__subLink {
  font-weight: 700;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

// CONTACT US FORM
.contact-us {
  text-align: center;

  &__hero {
    background-size: cover;
    color: #fefefe;
    min-height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__formContent {
    padding: 3rem 1rem;
  }

  .contactFormWrapper {
    width: clamp(320px, 54vw, 920px);
    margin: 0 auto;

    &--header {
      display: grid;
      grid-template-columns: 1fr;
    }

    &--field {
      margin-bottom: 0.5rem;
    }

    &--field p {
      text-align: left;

      label {
        font-size: 1rem;
        font-weight: 500;
      }

      input,
      textarea {
        margin-top: 0.5rem;
      }

      textarea {
        padding: 1.25rem 1rem;
      }
    }
  }

  .feedback {
    font-weight: 500;
    padding: 0.5rem;
    width: clamp(320px, 54vw, 920px);
    margin: 0 auto;
  }

  .successForm {
    background-color: $color-secondary;
  }

  .errorForm {
    background-color: tomato;
  }

  @include media-tablet-up {
    &__hero h1 {
      color: #232323;
      background-color: #fefefe;
      padding: 1.5rem 2rem;
    }

    .contactFormWrapper--header {
      grid-gap: 2rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @include media-tablet-down {
    #contactFormMessage {
      max-width: 320px;
      margin: 0 auto;
    }
  }
}
