//////////
// TOP HERO SECTION ***
.o-homepage {
  @include media-tablet-down {
    .marquee {
      bottom: -2.5rem;
    }
  }

  .shopify-section {
    position: relative;
  }
}

.c-topHero__ctaWrap {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;

  h1 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  @include media-tablet-down {
    text-align: center;
    padding: 1.5rem 0.5rem;

    p {
      padding: 0 1.25rem;
    }

    .c-button {
      margin: 0 auto;
    }
  }
}

.c-topHero__imgWrap {
  flex: 2;
  background-size: cover;
}

marquee {
  position: absolute;
  bottom: 0;
  background-color: #8eceab;
  padding: 0.75rem 0;
}

marquee span {
  font: 700 17px 'Sumo', serif;
  text-transform: uppercase;
}

.circle-dot {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  vertical-align: middle;
  background: #231f20;
  border-radius: 50%;
  margin: 0px 2rem;
}

// HERO SECTION ***
.c-hero__imgBg {
  display: flex;
  background-size: cover;
  place-content: center;
  flex-direction: column;
  height: 35vh;
  min-height: 360px;
  place-items: center;

  &--copy {
    display: flex;
    margin-bottom: 1rem;

    h2 {
      margin: 0 1rem;
      max-width: clamp(100px, 20ch, 51vw);
      @include text-line-clamp($lines: 1);
    }
  }
}

.c-topHero {
  display: flex;
  /*height: 100vh;*/
  height: calc(100vh - 106px);
  min-height: 480px;
  background-color: #efede6;

  @include media-tablet-down {
    flex-direction: column-reverse;
    margin-bottom: 4rem;
    height: auto;
    background-color: $color-white;

    .c-topHero__imgWrap {
      min-height: 260px;
    }
  }
}

/////////
// PLANS GRID SECTION ***
.c-homePlans {
  position: relative;
  text-align: center;
  margin-top: 5rem;

  @include media-mobile-down {
    margin-top: 0;

    .c-h1 {
      padding: 0 2rem;
    }
  }

  &__floatingBadge {
    position: absolute;
    max-width: 150px;
    top: -72px;
    left: unset;
    transform: translateX(-50%);

    @include media-tablet-down {
      display: none;
    }
  }

  &__subs-title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font: 600 17px 'Roboto', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: $color-ecru;
    padding: 0 1rem;

    @include media-tablet-down {
      // display: none;
      width: 13rem;
    }
  }

  &__inner {
    background-color: $color-ecru;
    width: 84vw;
    max-width: 1440px;
    padding: 4rem 3rem 2rem;
    margin: 0 auto;

    @include media-tablet-down {
      padding: 1.5rem 0.5rem;
      width: 100vw;

      .c-plansGrid__plan {
        padding-bottom: 1rem;

        button {
          display: none;
        }
      }

      .c-plansGrid__plan:nth-of-type(3) {
        grid-column: 1/3;
      }
    }

    h2 {
      margin-bottom: 1rem;
    }

    > div:first-child {
      max-width: 662px;
      margin: 0 auto;

      p {
        max-width: 600px;
        margin: 0 auto;
      }
    }
  }

  .c-plansGrid {
    border: 1px solid $color-black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    padding: 1rem 3px 3px;
    margin-bottom: 1.5rem;

    @include media-desktop-up {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2.5rem;
      padding: 1rem;
    }

    &__plan {
      background-color: $color-white;

      .c-h2 {
        margin: 1rem 0 0.75rem;
      }

      &--savings {
        padding: 0.25rem 1rem;
        background-color: $color-ltgreen;
        border-radius: 1rem;
        font-weight: 600;
      }

      &--flag {
        position: absolute;
        background: $color-black;
        color: $color-secondary;
        font-size: 1rem;
        padding: 0.33rem 2.125rem;
      }

      .c-button {
        margin: 2rem auto;
      }
    }
  }
}

/////////
// MENU GRID SECTION ***
.c-homeMenu {
  margin: clamp(3rem, 8vw, 7rem) 0;

  .c-h1 {
    position: relative;
  }

  &__viewFull {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'Sumo', serif;
    font-size: 1.5rem;
  }

  .htmlChevron {
    font-family: system-ui;
    font-size: 1.75rem;
  }
}

.c-homeMenu__flex {
  display: flex;
  grid-gap: 3rem;

  @include media-tablet-down {
    flex-direction: column;
  }

  .c-h2 {
    margin: 0;
  }

  .c-homeFaqs__item {
    width: 100%;
  }

  &--imgWrap {
    position: relative;
  }

  &--item {
    flex: 1;
  }

  &--item.isGrid {
    display: flex;
    grid-gap: 3rem;
    flex: 2;

    @include media-mobile-down {
      grid-gap: 1rem;
    }

    > div {
      flex: 1;

      p {
        color: $color-grey;
        font-size: 1rem;
      }

      h4 {
        margin: 0.5rem 0 0;
      }
    }

    .inner-div__items {
      flex: 1;
      margin-bottom: 1.5rem;
    }
  }

  .hover-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 5px);
    background: rgba(0, 0, 0, 0.35);
    opacity: 0;
    transition: opacity 200ms;
  }

  .hover-background:hover {
    opacity: 1;
  }

  .hover-background .c-button {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  div[data-group='1'],
  div[data-group='2'] {
    display: none;
  }

  .highlight-icon {
    position: absolute;
    top: -62px;
    right: -31px;
    max-width: 124px;
  }
}

/////////
// FAQs SECTION ***
.c-homeFaqs {
  padding: 2rem 0;
  margin: 3rem 0 4rem;

  &__item {
    border-bottom: 1px solid $color-black;

    @include media-desktop-up {
      width: 90%;
      margin-left: auto;
    }

    @include media-tablet-down {
      span {
        margin-left: 1rem;
      }
    }

    button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      background-color: $color-white;
      border: none;
      text-align: left;
      outline: none;
      padding: 1.25rem 0;
      font: 400 1.375rem 'Roboto', sans-serif;
      transition: 300ms;

      &:hover {
        background-color: $color-ecru;
      }
    }

    .active .icon-closed,
    .icon-opened {
      display: none;
    }

    .active .icon-opened {
      display: block;
    }

    .panel-answer {
      background-color: $color-white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 175ms ease-out;

      p {
        padding: 1rem 0;
      }
    }
  }
}

/////////
// SPLIT SECTIONS ***
.c-homeSplit {
  display: flex;
  grid-gap: 3.5rem;
  width: 84vw;
  max-width: 1440px;
  margin: 0 auto;

  &__left,
  &__right {
    flex: 1;
  }

  &__right div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    max-width: 85%;
    padding: 4rem;

    img {
      max-width: 150px;
      margin-bottom: 1.5rem;
    }

    .clamp-size__h2 {
      font-size: clamp(2.5rem, 2.55vw, 2.85rem);
    }

    .c-button {
      margin-top: 1rem;
    }
  }
}

/////////
// TESTIMONIAL SLIDER ***
.c-homeTestimonial__slider {
  padding: 4.5rem 0 5.5rem;

  &--bgIcon {
    position: absolute;
    top: -2.5rem;
    z-index: -1;

    svg {
      max-width: 38vw;
    }
  }

  .tns-nav {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 3rem;
  }

  .tns-inner {
    text-align: center;
  }

  .tns-item {
    img {
      max-width: 150px;
      border-radius: 100%;
      margin: 1rem auto;
    }

    &__quote {
      width: 50%;
      min-width: 300px;
      max-width: 1200px;
      margin: 1.5rem auto;
    }

    &__quoteIcon {
      margin: 3rem auto;
    }
  }
}

/////////
// PRESS LOGOS ***
.c-homePress {
  background: #efede6;
  padding: 2rem 0;

  section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .c-homePress__item {
    height: auto;
    line-height: 0;
    padding: 0 0.25rem;
  }

  @include media-desktop-up {
    section {
      grid-gap: 5%;
      width: 92vw;
      max-width: 1600px;
      margin: 0 auto;
    }

    .c-homePress__item {
      flex: 1;
      text-align: center;

      img {
        max-height: 42px;
      }
    }
  }

  @include media-mobile-down {
    overflow-y: scroll;

    section {
      grid-gap: 2rem;
      min-width: 175vw;
    }
  }
}

/////////
// BOTTOM BANNER ***
.c-homeBtm__banner {
  background-color: $color-secondary;
  padding: 2rem;

  section,
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 2rem;

    .c-h2 {
      margin: 0;
    }

    input {
      height: 50px;
      min-width: 280px;
      border: none;
      color: $color-black;
      font-family: 'Roboto', sans-serif;
      font-size: 1rem;
      font-weight: 500;
      outline: none;
      padding: 0.5rem 1rem;
    }

    .c-button {
      height: 50px;
      padding: 1rem 2rem;
    }
  }

  div {
    grid-gap: 1rem;
  }

  @include media-mobile-down {
    section {
      flex-direction: column;

      input {
        min-width: 10rem;
      }

      .c-button--isDefault {
        min-width: 8rem;
      }
    }

    div {
      grid-gap: 0;
    }
  }
}

/////////
// EXTRA UTIL STYLES ***
.c-button {
  display: block;
  text-align: center;
}

.u-highlightText--secondary {
  color: $color-secondary;

  @include media-mobile-down {
    display: block;
    width: 100%;
    line-height: 0.8;
  }
}

.tns-nav {
  button {
    height: 12px;
    width: 12px;
    border: none;
    border-radius: 100%;
    background: $color-black;
    margin: 0 0.75rem;

    &.tns-nav-active {
      background-color: $color-primary;
    }
  }
}

section {
  > button {
    color: $color-black;
  }
}

/////////
// MEDIA QUERY AREAS ***
@include media-mobile-down {
  .c-tilesSection__slider {
    padding-bottom: 2rem !important;

    .tns-nav {
      bottom: 1rem !important;

      button {
        height: 21px;
        width: 16px;
        max-width: 16px;
      }
    }
  }

  .c-homeSplit {
    width: 100vw;
    flex-direction: column;

    .c-homeSplit__right div {
      position: relative;
      max-width: 100%;
      padding: 1rem;

      img {
        position: absolute;
        top: -7rem;
        max-width: 7rem;
      }
    }
  }

  .c-homeTestimonial__slider {
    padding-top: 1rem;
  }

  .c-homeTestimonial__slider--bgIcon {
    top: 1rem;

    svg {
      max-width: 75vw;
      margin-left: -35vw;
    }
  }
}
