.c-menu-wrapper {
  height: 42px;
  position: relative;
  .c-menu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  .c-filters & {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    @include media-desktop-up {
      position: relative;
      top: 0;
    }
  }
}

.c-menu-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color-black, 0.4);
}

.c-menu {
  background-color: $color-off-white;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px solid $color-ivory;
  color: $color-off-black;
  text-align: center;
  @include media-desktop-up {
    text-align: left;
    border-radius: 74px;
    border: 0;
    box-shadow: 0 0 0 1px $color-paleo;
  }
  &:not(.c-menu--open) {
    cursor: pointer;
    @include media-desktop-up {
      border-radius: 74px;
    }
  }
  &.c-menu--open {
    @include media-desktop-up {
      border-radius: 20px;
      box-shadow: 0px 1px 10px rgba(58, 58, 58, 0.1);
      padding: 0 15px 15px;
    }
    .c-menu__carat svg {
      transform: rotate(180deg);
      path {
        fill: $color-broccoli;
        stroke: $color-broccoli;
      }
    }
  }
  .c-filters &:not(.c-menu--open) {
    background-color: $color-pearl;
    box-shadow: 0 0 0 1px $color-off-black;
  }
  .c-menu__carat svg {
    margin-left: 12px;
    @include media-desktop-up {
      position: absolute;
      top: 18px;
      right: 22px;
      fill: $color-off-black;
      margin: 0;
    }
  }
}
