.c-radio {
  position: relative;
  cursor: pointer;
  padding-left: 1.4rem;
  line-height: 1;
}

.c-radio::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  box-shadow: 0 0 0 1px;
  border-radius: 100%;
}

.c-radio.c-radio--selected::before {
  background-color: #000;
}