<article class="c-homeBtm__banner">
  <section>
    <h2 class="c-h2">{{section.settings.tagline}}</h2>
    <div>
  <!--     Klayvio Embed here -->
      <input type="text">
      <button class="c-button c-button--isDefault c-button--isPrimary">
        Submit
      </button>
    </div>
  </section>
</article>


<style>
  article.c-homeBtm__banner {
    display: flex;
  }

  article.c-homeBtm__banner div {
    display: flex;
  }

  article.c-homeBtm__banner button.c-button {
    padding: 1rem 2rem;
  }
</style>

{% schema %}
  {
    "name": "Bottom Banner",
    "settings": [
      {
        "id": "tagline",
        "type": "text",
        "label": "Tagline"
      },
      {
        "id": "klayvio_link",
        "type": "text",
        "label": "Klayvio Link"
      }                                      
    ],    
    "presets": [
      {
        "name": "Bottom Banner",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}
