<section class="c-reviewsSection u-textCenter">
  <h2 class="c-h2 c-reviewsSection__title">
    {{ section.settings.title }}
  </h2>
  <div class="o-containerLarge">
    <div class="c-reviewsSection__cta">
      <a href="{{ section.settings.cta_url }}" class="c-cta c-cta--tall">
        {{ section.settings.cta_text }}
      </a>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Reviews",
    "settings": [
      {
        "id": "title",
        "type": "textarea",
        "label": "Title"
      },
      {
        "id": "cta_text",
        "type": "text",
        "label": "CTA Text",
        "default": "Get Started"
      },
      {
        "id": "cta_url",
        "type": "url",
        "label": "CTA URL"
      }
    ],
    "blocks": [
      {
        "type": "review",
        "name": "Review",
        "settings": [
          {
            "id": "rating",
            "type": "range",
            "label": "Rating",
            "min": 0,
            "max": 5,
            "default": 5 
          },
          {
            "id": "text",
            "type": "richtext",
            "label": "Text"
          },
          {
            "id": "name",
            "type": "text",
            "label": "Name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Test Reviews",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}
