<article class="c-homeBtm__banner">
  <section>
    <h2 class="c-h2">{{section.settings.tagline}}</h2>
    <div class="c-homeBtm__form">
      <!-- Klayvio Embed here -->
      <div class="klaviyo-form-Rv4S6s"></div>
    </div>
  </section>
</article>


{% schema %}
  {
    "name": "Bottom Banner",
    "settings": [
      {
        "id": "tagline",
        "type": "text",
        "label": "Tagline"
      },
      {
        "id": "klayvio_link",
        "type": "text",
        "label": "Klayvio Link"
      }
    ],
    "presets": [
      {
        "name": "Bottom Banner",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}
