.c-header {
  position: sticky;
  top: 0;
  z-index: 100;

  .c-headerMain__logo,
  .c-headerMain__logoBox {
    transition: all 250ms;
  }

  &.scrolled {
    .c-headerMain__logo {
      padding-top: 4px;
      padding-bottom: 6px;
    }

    .c-headerMain__logoBox {
      transform: scale(0.85);
    }
  }
}

.c-headerBar {
  background-color: $color-black;
}

.c-headerBar__wrapper {
  padding: 10px 0;
}

.c-headerBar__message {
  text-align: center;
  color: $color-white;
  font-size: 14px;
  font-weight: 500;
}
