.c-footerLegal {
  width: 100%;
  background-color: darken($color-white, 4%);
}

.c-footerLegal__wrapper {
  position: relative;
  padding: 40px 0;
  @include flex($direction: column);
  @include media-tablet-up {
    @include flex($justify: space-between);
    padding: 20px 0 30px;
  }
  &:before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    background-color: darken($color-white, 10%);
  }
}

.c-footerLegal__copyright,
.c-footerLegal__navigationLink {
  @include flex($justify: center);
  color: $color-black;
  font-size: 12px;
}

.c-footerLegal__copyright {
  @include media-mobile-down {
    margin-bottom: 20px;
  }
}

.c-footerLegal__navigation {
  @include flex($direction: column);
  @include media-tablet-up {
    @include flex;
    margin-right: -10px;
  }
}

.c-footerLegal__navigationLink {
  padding: 5px 15px;
  @include hover-fade;
  @include media-tablet-up {
    padding: 0 10px;
  }
}