<div class="c-formLogin__container o-pageNarrow" style="text-align: center">
  <h1 class="c-formLogin__heading c-h1 c-form__heading u-textCenter">
    404 
  </h1> 
  <h3>Oops!</h3>
  <br/>
  <p class="c-formLogin__text c-p3 c-form__text u-textCenter">
    We're sorry, that page doesn't exist. 
  </p>
  <a href="/" class="c-formLogin__button c-form__submit
    c-button 
    c-button--isDefault
    c-button--isPrimary"
    type="submit"
    style="margin: 0 auto"
  >
    Back To Home
  </a>    
</div>