.u-hide {
  display: none !important;
}

.u-hidden {
  opacity: 0 !important;
  z-index: -9999999 !important;
  pointer-events: none !important;
}

.u-block {
  display: block !important;
}

.u-inline {
  display: inline !important;
}

.u-inlineBlock {
  display: inline-block !important;
}

.u-hideMobileDown {
  @include media-mobile-down {
    display: none !important;
  }
}

.u-showMobileDown {
  @include media-mobile-down {
    display: block !important;
  }
}

.u-hideTabletDown {
  @include media-tablet-down {
    display: none !important;
  }
}

.u-hideTabletUp {
  @include media-tablet-up {
    display: none !important;
  }
}

.u-showTabletUp {
  @include media-tablet-up {
    display: block !important;
  }
}

.u-showTabletOnly {
  @include media-mobile-down {
    display: none !important;
  }
  @include media-desktop-up {
    display: none !important;
  }
}

.u-hideDesktopUp {
  @include media-desktop-up {
    display: none !important;
  }
}