h2.section__title {
  color: #231f20;
  font-weight: 500;
}

.section__header a {
  color: #8eceab;
}

.input-checkbox:checked,
.input-radio:checked,
.input-checkbox:checked:hover,
.input-radio:checked:hover {
  border-color: #fcd32b;
}

.js .sidebar .btn--disabled {
  background-color: #231f20;
  color: #fefefe;
}

.total-line-table .total-line__name {
  color: #231f20;
  font-weight: 500;
}

.field__input,
.btn,
.sp-modal-toggle {
  border-radius: 0;
}

.checkout-shopify .content {
  background-color: #fefdfb;
}

.checkout-shopify .sidebar {
  background-color: #f9f6ef;
}
