.o-container {
  @include container;
}

.o-containerLarge {
  width: calc(100% - 20px);
  max-width: 1600px;
  margin: 0 auto;
  @include media-tablet-up {
    width: 92vw;
  }
}

.o-containerMedium {
  width: 100%;
  max-width: 1440px;
  padding: 0 2vw;
  margin: 0 auto;
  @include media-tablet-up {
    width: 84vw;
  }
}

.o-containerFullWidth {
  width: 100%;
}
