@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

$font-family-primary: "Titillium Web", sans-serif;

$color-black: #000000;
$color-black1: #333333;
$color-white: #ffffff;
$color-white1: #f7f7f7;
$color-white2: #fbfbfb;
$color-gray1: #666666;
$color-gray2: #818181;
$color-gray3: #b0b0b0;
$color-gray4: #cccccc;
$color-gray5: #dddddd;
$color-gray6: #eeeeee;
$color-blue1: #31c8e0;
$color-blue2: #00a0b9;
$color-red1: #F06350;