$color-black: #101F2D;
$color-white: #FFFFFF;

$color-primary: #101D2E;
$color-secondary: #FFA200;

$color-success: #67D46C;
$color-info: #7C7A7A;
$color-warning: #FBCC1F;
$color-error: #FF4B4B;

$color-body: #FAFAFA;

$color-hr: rgba($color-black, .15);
