$font-body: 'Roboto', sans-serif;
$font-heading: 'Knockout', sans-serif;
$font-mono: 'Roboto Mono', monospace;
$font-product-title: 'Sumo', sans-serif;

//styleName: Header / H1;
// font-family: Knockout;
// font-size: 60px;
// font-style: normal;
// font-weight: 400;
// line-height: 60px;
// letter-spacing: 0em;
// text-align: left;
