$z-index-behind: -1;
$z-index-footer: 1;
$z-index-page: 2;
$z-index-header: 3;
$z-index-overlay: 5;
$z-index-drawer: 6;
$z-index-sidebar: 7;
$z-index-lightbox: 8;
$z-index-modal: 9;
$z-index-top: 10;

// $z-index-behind: -1;
// $z-index-footer: 10;
// $z-index-page: 20;
// $z-index-header: 30;
// $z-index-overlay: 50;
// $z-index-sidebar: 99;
// $z-index-lightbox: 70;
// $z-index-modal: 100;
// $z-index-top: 90;
