@mixin shadow-card($opacity: .15) {
  box-shadow: 0px 2px 14px rgba(0, 0, 0, $opacity);
}

@mixin shadow-input($opacity: .05) {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, $opacity);
}

@mixin shadow-input-focus($opacity: .07) {
  box-shadow: 0px 2px 19px rgba(0, 0, 0, $opacity);
}

