@mixin text-body {
  font-family: $font-body;
  line-height: 1.4;
  font-weight: 400;
  @include media-mobile-down {
    line-height: 1.5;
  }
}

@mixin text-heading {
  font-family: $font-heading;
  line-height: 1.125;
  font-weight: 500;
  @include media-mobile-down {
    line-height: 1.15;
  }
}

@mixin text-line-clamp($lines: 1) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}
