@mixin text-body {
  font-family: $font-body;
  line-height: 1.75;
  font-weight: 600;
  @include media-mobile-down {
    line-height: 1.5;
  }
}

@mixin text-heading {
  font-family: $font-heading;
  line-height: 1.25;
  font-weight: 900;
  @include media-mobile-down {
    line-height: 1.15;
  }
}