@mixin text-body {
  font-family: $font-body;
  line-height: 1.4;
  font-weight: 400;
  @include media-mobile-down {
    line-height: 1.5;
  }
}

@mixin text-heading {
  font-family: $font-heading;
  line-height: 1.125;
  font-weight: 700;
  @include media-mobile-down {
    line-height: 1.15;
  }
}
