<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  {% render 'theme-meta' %}
  {% render 'theme-styles' %}
  {% render 'theme-customer' %}
  {% render 'theme-shop' %}
  {% render 'theme-api' %}
  {{ content_for_header }}
  <style>
    #preview-bar-iframe {
      display: none !important
    }
  </style>
</head>
<body class="o-body" data-body>
  {% if template != 'page.bundle' %}
    {% render 'theme-header' %}
  {% endif %}
  <main class="o-main {% if template == 'index' %}o-homepage{% endif %}" data-main>
    {{ content_for_layout }}
  </main>
  {% if template != 'page.bundle' %}
    {% include 'theme-footer' %}
  {% endif %}
  {% render 'widget-cart' %}
  {% render 'theme-scripts' %}
  {% render 'vendors-loyalty-lion' %}
</body>
</html>
