<!doctype html>
<html
  lang="{{ shop.locale }}"
  class="{% if template == 'index' %} o-html-home{% endif %}{% if template == 'product' %} o-product{% endif %}"
>
<head>
  {% render 'theme-gtm-script' %}
  {% render 'theme-meta' %}
  {% render 'theme-styles' %}
  {% render 'theme-customer' %}
  {% render 'theme-shop' %}
  {% render 'theme-api' %}
  {{ content_for_header }}
  {% render 'vendors-loyalty-lion' %}
  <style>
    #preview-bar-iframe {
      display: none !important
    }
  </style>
  <style>
    {{ settings.custom_css }}    
  </style>
</head>
<body class="o-body" data-body>
  {% render 'theme-gtm-noscript' %}
  {% if template != 'page.bundle' %}
    {% render 'theme-header' %}
  {% endif %}
  <main class="o-main{% if template == 'index' %} o-homepage{% endif %}{% if template == 'blog' %} o-blog{% endif %}" data-main>
    {{ content_for_layout }}
  </main>
  {% if template != 'page.bundle' %}
    {% include 'theme-footer' %}
  {% endif %}
  {% comment %}{% render 'widget-cart' %}{% endcomment %}
  {% render 'theme-scripts' %}
  {% render 'vendors-gorgias' %}
</body>
</html>